*, *:after, *:before{
    box-sizing: border-box;
}
.wrapper{
    max-width: 1320px;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.product-list{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.product-image{
    position: relative;
}
.product-card .product-image img{
    width: 290px;
    height: 340px;
    border-radius: 8px;
}
.product-card .hover-gallery img{
    width: 38px;
    height: 48px;
}
.product-card .off-percent{
    position: absolute;
    top: 24px;
    left: 0;
    padding: 4px 20px;
    background-color: #f16422;
    color: #fff;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    font-weight: 600;
}
.extra-off{
    padding: 6px 16px;
    background-color: #00BF6F;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
    z-index: 2;
}
.extra-off-parent{
    position: absolute;
    bottom: 24px;
    right: 0;
    text-align: center;
    width: 100%;
}
.vazir-fa{
    font-family: VazirmatnFa;
}
.product-card .brand-price .brand{
    font-weight: 600;
    font-size: 18px;
}
.product-card .brand-price{
    display: flex;
    justify-content: space-between;
}
.product-card .brand-price .off-price{
    text-decoration: line-through;
    color: #8e8e8e;
}
.product-card .product-name-price{
    display: flex;
    justify-content: space-between;
}
.product-card .product-name-price .main-price{
    color: #00BF6F;
}
.product-card .size-parent{
    display: flex;
    gap: 8px;
}
.product-card .size-parent span{
    padding: 4px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}
.product-card .hover-gallery{
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.product-card .hover-gallery img{
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}
.product-card .hover-box{
    position: absolute;
    display: block;
    z-index: 2;
    opacity: 0 ;
    cursor: pointer;
}
.product-card .hover-box .img{
    width: 290px;
    height: 340px;
    border-radius: 8px;
}
.product-card .hover-box:hover{
    display: block;
    z-index: 4;
    opacity: 1;
    transition: all 0.5s;
}